html,
body,
p,
a,
input,
.controls input,
select,
span,
label {
	font-size: 13px;
	font-family: "Open Sans";
}
h1, h2, h3, h4, h5, h6, blockquote {
	font-family: 'Ubuntu', sans-serif;
}
body hr {
	margin: 10px 0;
}
sup {
	font-size: 14px;
}
.table.leave_history tr td, .table.leave_history tr th {
	text-align: center;
}
.master-fluid {
	min-height: 650px;
}
.alert.alert-error li {
	list-style: none;
}
.controls {
	padding: 0 0 10px;
}
.controls > label,
.control-group > label,
.control-label {
	font-weight: bold;
}
.row {
	min-height: 650px;
}
.btn-group .btn input, .btn-group .btn label {
	float: left;
}
.btn-group .btn input[type="radio"] {
	margin: 3px 0 0 10px;
}
p.text-success {
	padding: 10px;
	display: block;
	border: 1px solid #afd6af;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
}
.controls.btn-group {
	padding: 0 0 10px;
	margin: 0 0 10px;
}
.controls.btn-group .btn {
	min-width: 69px;
}
.clear {
	clear: both;
}
.row-fluid #viewWrap [class*="span"] {
	margin-left: 0;
}
.connect {
	display: block;
	height: 20px;
	width: 20px;
	border-left: 1px dotted #444;
	border-bottom: 1px dotted #444;
	margin-left: 10px;
}
.connect.level2 {
	margin-left: 20px;
}
.departments .header td {
	font-weight: bold;
	color: #1d5998;
}
.departments .header td a {
	font-weight: normal;
	color: #fff;
}
.departments .sub_header td {
	color: #3e8cdd;
}
.departments tr td {
	color: #777;
}
.table td a {
	font-size: 12px;
}
/*RESPONSIVE OVERRIDE*/
@media (min-width: 1200px) {
	.row-fluid.master-fluid .span3 {
		max-width: 250px;
	}	
}